body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    /* background-color: #CCE6FF; */
    text-align: center;
}

h1 {
    margin-top: auto;
}

h2 {
    margin-top: 200px;
    font-size: 60px;
}

p {
    width: 700px;
    margin: auto;
}

input {
    margin-top: 50px;
    border: 2px solid;
    border-radius: 0px;
    font-size: 20px;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
}

button {
    background-color: black;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}